<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.processcommunicationtest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--        需注意一定要有隐式调用的uri
        android:exported：代表是否能被其他应用隐式调用，
        其默认值是由service中有无intent-filter决定的，如果有intent-filter，
        默认值为true，否则为false。为false的情况下，
        即使有intent-filter匹配，也无法打开，即无法被其他应用隐式调用。

android:enabled：是否可以被系统实例化，默认为 true因为父标签 也有 enable 属性，
所以必须两个都为默认值 true 的情况下服务才会被激活，否则不会激活。
        -->
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.MyService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>